// workbench
.wrap{width: 100%; margin: 0 auto;}
.main{float: left; width: 100%; min-height:30px;}
.main-inner{margin-right: 330px; min-height:30px}
.extra { float:left; width:300px; min-height:30px; margin-left:-300px; }

.info-list__item {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    color: #666;
    font-size: 12px;
    line-height: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.txt-red, .txt-red a:hover{
    color: #d00
}
.info-list__header{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
.icon-bg {
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url(http://img.yzcdn.cn/canyin/dashboard/status.png);
    background-size: 30px;
    background-repeat: no-repeat;
}
.icon-printer--open {
    background-position: 0 0;
}
.icon-printer--close {
    background-position: 0 -30px;
}
.icon-receive--open {
    background-position: 0 -60px;
}
.icon-receive--close {
    background-position: 0 -90px;
}
.icon-call--open {
    background-position: 0 -120px;
}
.icon-call--close {
    background-position: 0 -150px;
}

.setting-status{
    text-decoration: none;
    color: #666;
}
.status-text {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
}
.panel{
	padding: 20px;
}
.panel b{
	font-size: 22px
}
.panel small {
	color: #cecece;
}
.mb10{
	margin-bottom: 10px
}
.mb20{
	margin-bottom: 20px
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}

.card-thumb__image{
    position:absolute;
    top:14px;
    left:22px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.todo-item{
	display: block;
	padding: 0 12px;
	line-height: 50px;
	border: 1px solid #eee;
	border-left: 3px solid #f60;
	background: #fff;
	margin-bottom: 10px;
}

.searchbg{
	background: rgb(248, 248, 248);
  padding: 20px;
  margin:-20px -20px 20px 
}
.searchbg2{
	background: rgb(248, 248, 248);
  padding: 20px;
  margin-bottom: 10px;
}

.formitemlabel{
	background: #fff;
  padding-left: 10px;
  box-shadow: 0px 0px 0px 1px #d9d9d9 inset;
  border-radius: 2px;
}
.mytable table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 8px 0 16px;
}
.mytable>table td, .mytable>table th {
    border: 1px solid #e9e9e9;
    padding: 16px 8px;
    text-align: left;
}
.mytable>table th {
    background: #f7f7f7;
    width: 130px;
}
.p-add-tag{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #555;
	font-size: 12px;
	line-height: 28px;
	height: 30px;
	width: 80px;
	text-align: center;
	border: 1px dashed #bbb;
	box-sizing: border-box;
	cursor: pointer;
}
.widget-checkbox-button {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 16px;
    color: #555;
    font-size: 12px;
    line-height: 28px;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 10px;
}
.widget-checkbox-button--checked{
    border-color: #38f;
    color: #38f;
}
.widget-checkbox-button--checked:before {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border: 7px solid #38f;
    border-top-color: transparent;
    border-left-color: transparent;
}
.widget-checkbox-button--checked:after {
    content: " ";
    position: absolute;
    right: 1px;
    bottom: 3px;
    width: 7px;
    height: 5px;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(-59deg);
    transform: rotate(-59deg);
}
.img-qrcode{
    background:url(../../image/u102.png);
    background-size: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0px;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}