.logo{
    position:relative;
    border-radius: 6px;
    margin: 25px 16px 16px;
    height: 40px;
} 
.avatar{
    position:absolute;
    top:0;
    left:0;
    background: url("https://img.yzcdn.cn//upload_files/2017/05/22/FkwOki1vc3BiduLLPwUUDXOgMC5l.jpeg?imageView2/2/w/80/h/80/q/90/format/webp");
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-size: cover;
    background-position: 50%;
}
.shopname{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
}
.sider-tag{
    background: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    padding: 0px 2px;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}

hr.line{
    margin: 10px 14px;
    border: 0px solid red;
    height: 1px;
    background: #eee;
}
hr.line2{
    margin: 10px 0px;
    border: 0px solid red;
    height: 1px;
    background: #eee;
}

.app-userinfo {
    position: fixed;
    padding: 16px 0;
    border-top: 1px solid #eee;
    margin: 0 15px;
    bottom: 0;
    width: 170px;
    background: #fff;
    cursor: pointer;
}
.sidebar-icon{
    font-size: 14px;
    width: 24px;
    height: 24px;
    background: url(../image/icon.png) no-repeat;
    padding-left: 35px;
}
.sidebar-icon-workbench{
    background-position: 0 -2px;
}
.sidebar-icon-goods {
    background-position: 0 -27px;
}
.sidebar-icon-shop {
    background-position: 0 -74px;
}
.sidebar-icon-order {
    background-position: 0 -50px;
}
.sidebar-icon-asset {
    background-position: 0 -99px;
}
.sidebar-icon-plugin {
    background-position: 0 -122px;
}
.sidebar-icon-guest{
     background-position: 0 -194px;
}
.sidebar-icon-stock {
    background-position: 0 -243px;
}
.sidebar-icon-data {
    background-position: 0 -219px;
}

.app-userinfo-avatar {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 18px;
    height: 18px;
    background: url(../image/icon.png) no-repeat;
    background-position: -3px -171px;
}
.app-userinfo__phone {
    color: #555;
    font-size: 14px;
    line-height: 18px;
    margin-left: 50px;
}

.menuitem li{
    margin-bottom: 12px
}

.app-userinfo__pop .zent-pop-inner {
    padding: 0;
    width: 145px;
    color: #333;
    font-size: 12px;
}
.app-userinfo__pop2 .zent-pop-inner {
    padding: 0;
    color: #333;
    font-size: 12px;
}
.app-userinfo__pop-hd {
    padding: 10px 20px;
    line-height: 24px;
    background: #f8f8f8;
    border-radius: 2px 0 0 2px;
}
.app-userinfo__pop-ft {
    padding: 10px 0;
    line-height: 30px;
}
.app-userinfo__pop-bd {
    padding: 10px 0 0;
    line-height: 30px;
}

.app-userinfo__pop-bd a, .app-userinfo__pop-ft a {
    display: block;
    color: #666;
    padding: 0 20px;
    line-height: 30px;
    font-size: 12px;
    transition-duration:0s;
}

.app-userinfo__pop-bd a:hover, .app-userinfo__pop-ft a:hover {
    background: #38f;
    color: #fff;
    
}